.custom-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    flex-direction: column;
    padding: 32px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 500px;
    max-width: 500px;
    min-height: 300px;
}

.inputGroup {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    min-width: 450px;
}

.label {
    width: 110px;
    font-weight: bold;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
}