body {
    background-color: #11283b;
    color: #fafafa;
}

.App {
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    color: #0491d0;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style-type: none;
}
